@import "theme";

// colors
:root {
  --c1: @C1;
  --c2: @C2;
  --c3: @C3;
  --c4: @C4;
  --c5: @C5;
  --c6: @C6;
  --c7: @C7;
  --c8: @C8;
  --c9: @C9;
  --c10: @C10;
  --c11: @C11;
  --c12: @C12;

  --b1: #2c2c2c;
  --b2: #7c7c7c80;
  --b3: #7c7c7c;
  --b4: #c7c7c780;
  --b5: #abaaaa;
  --b6: #e5e5e5;
  --b7: #f8f8f8;

  --link: var(--c3);
  --text-primary: var(--b1);
  --text-secondary: var(--b3);
  --text-light: var(--b5);
  --tooltip-bg: var(--b1);
  --border: var(--b4);
  --divider: var(--b6);
}

// sizes
:root {
  --side-size: max(~"min(30%, @{side-size-max}), @{side-size-min}");
  --main-size: calc(~"100% - var(--side-size)");
}

body, #app {
  position: fixed;
  margin: 0;
  padding: 0;
  height: 100vh;
  height: -webkit-fill-available;
  font-family: -apple-system, "PingFang SC", "Helvetica", sans-serif;
  color: var(--text-primary);
  font-size: 14px;
  overflow: hidden;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  height: -webkit-fill-available;
}

.side-container {
  height: 100%;
  box-sizing: border-box;
  margin: 0 16px;

  .info {
    width: 100%;
    margin: 8px 0;
  }

  .info + .info {
    margin-top: 0;
  }
}

a, a:visited, a:active {
  transition: color .2s ease;
  color: var(--text-primary);
}
a:hover {
  color: var(--c3);
}